<div class="footerContainer">
  <div class="footerLeft">
      <img  src="../../assets/logo.png">
    <p>One of the best furniture agency</p>
  </div>
  <div class="footerRight">
    <span class="span"><p class="circle"></p><p>Enter your email to get the latest news</p></span>
    <div class="arrow"><img  src="../../assets/arrow.png" alt="black arrow"></div>
    <input type="text" placeholder="Email">
    <p class="followUs">Follow us on</p>
    <div class="socials"><img src="../../assets/socialIcons.png" alt="social media icons"></div>
  </div>
</div>
