<div class="container">
  <app-menubar></app-menubar>
  <app-header></app-header>
<app-full-image
  imageUrl='../assets/fullPics1.png'>
</app-full-image>
<app-body-text></app-body-text>
<app-half-image
imageUrlLeft='../assets/halfPics1.png'
imageUrlRight='../assets/halfPics1b.png'
></app-half-image>
<app-full-image imageUrl='../assets/fullPics2a.png'>
</app-full-image>
<app-half-image
imageUrlLeft='../assets/halfPics2a.png'
imageUrlRight='../assets/halfPics2b.png'>
</app-half-image>
<app-cta></app-cta>
<app-footer></app-footer>
</div>
