<div class="bodyContainer">
  <div class="leftBody">
    <h3>Project Overview</h3>
    <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
    <div class="wrap">
      <p>July 22 - 2022</p>
      <p>Interior Design - Furniture</p>
    </div>
  </div>
  <div class="rightBody">
    <h3>Design Process</h3>
    <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
    <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    Online learning with us does not interfere with your daily life because learning can be done anytime and anywhere.</p>
  </div>
</div>
