<nav id="my-first">

    <ul>
        <li class="logotype">
          <a href="#">Logotype</a>
        </li>

<li class="burger" (click)="toggleMenu()">
  <i class="material-icons">{{isMenuOpen ? "close": "menu"}}</i>
</li>

      <li class="menu" [class.is-open]="isMenuOpen">
        <a class="menu-item" href="#">Home</a>
        <a class="menu-item" href="#">About Us</a>
        <a class="menu-item" href="#">Services</a>
        <a class="menu-item" href="#">Our Teams</a>
        <a class="menu-item" href="#">Contact Us</a>
      </li>
    </ul>
</nav> 
